<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <!-- Login -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>edu.spcollege.titanbank.controllers.LoginServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <!-- Logout -->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>edu.spcollege.titanbank.controllers.LogoutServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <!-- Index -->
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>edu.spcollege.titanbank.controllers.IndexServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <!-- Index2 -->
    <servlet>
        <servlet-name>Index2Servlet</servlet-name>
        <servlet-class>edu.spcollege.titanbank.controllers.Index2Servlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index2Servlet</servlet-name>
        <url-pattern>/index2</url-pattern>
    </servlet-mapping>
    <!-- BankAccount -->
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>edu.spcollege.titanbank.controllers.AccountServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <!-- AccountSummary -->
    <servlet>
        <servlet-name>AccountSummaryServlet</servlet-name>
        <servlet-class>edu.spcollege.titanbank.controllers.AccountSummaryServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountSummaryServlet</servlet-name>
        <url-pattern>/accountsummary</url-pattern>
    </servlet-mapping>
    <!-- Savings -->
    <servlet>
        <servlet-name>SavingsServlet</servlet-name>
        <servlet-class>edu.spcollege.titanbank.controllers.SavingsServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SavingsServlet</servlet-name>
        <url-pattern>/savings</url-pattern>
    </servlet-mapping>
    <!-- Checking -->
    <servlet>
        <servlet-name>CheckingServlet</servlet-name>
        <servlet-class>edu.spcollege.titanbank.controllers.CheckingServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckingServlet</servlet-name>
        <url-pattern>/checking</url-pattern>
    </servlet-mapping>
    <!-- TransferRequest -->
    <servlet>
        <servlet-name>TransferServlet</servlet-name>
        <servlet-class>edu.spcollege.titanbank.controllers.TransferServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransferServlet</servlet-name>
        <url-pattern>/transfer</url-pattern>
    </servlet-mapping>
    <!-- TransferList -->
    <servlet>
        <servlet-name>TransferListServlet</servlet-name>
        <servlet-class>edu.spcollege.titanbank.controllers.TransferListServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransferListServlet</servlet-name>
        <url-pattern>/transferlist</url-pattern>
    </servlet-mapping>
    <!-- Customer List -->
    <servlet>
        <servlet-name>ViewCustomerListServlet</servlet-name>
        <servlet-class>edu.spcollege.titanbank.controllers.ViewCustomerListServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewCustomerListServlet</servlet-name>
        <url-pattern>/viewcustomerlist</url-pattern>
    </servlet-mapping>
    <!-- Add Customer -->
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>edu.spcollege.titanbank.controllers.AddCustomerServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/addcustomer</url-pattern>
    </servlet-mapping>
    <!-- View Customer -->
    <servlet>
        <servlet-name>ViewCustomerServlet</servlet-name>
        <servlet-class>edu.spcollege.titanbank.controllers.ViewCustomerServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewCustomerServlet</servlet-name>
        <url-pattern>/viewcustomer</url-pattern>
    </servlet-mapping>
    <!-- Update Customer -->
    <servlet>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <servlet-class>edu.spcollege.titanbank.controllers.UpdateCustomerServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <url-pattern>/updatecustomer</url-pattern>
    </servlet-mapping>
    <!-- Max S. - Customer change personal info (servlet 1) -->
    <servlet>
        <servlet-name>EditInfoLaunchServlet</servlet-name>
        <servlet-class>edu.spcollege.titanbank.controllers.EditInfoLaunchServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditInfoLaunchServlet</servlet-name>
        <url-pattern>/editinfolaunchservlet</url-pattern>
    </servlet-mapping>
    <!-- Max S. - Customer change personal info (servlet 2) -->
    <servlet>
        <servlet-name>EditInfoServlet</servlet-name>
        <servlet-class>edu.spcollege.titanbank.controllers.EditInfoServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditInfoServlet</servlet-name>
        <url-pattern>/editinfoservlet</url-pattern>
    </servlet-mapping>
    <!-- Max S. Change password (Launch) -->
    <servlet>
        <servlet-name>EditPasswordLaunchServlet</servlet-name>
        <servlet-class>edu.spcollege.titanbank.controllers.EditPasswordLaunchServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditPasswordLaunchServlet</servlet-name>
        <url-pattern>/editpasswordlaunchservlet</url-pattern>
    </servlet-mapping>
    <!-- Max S. Change password -->
    <servlet>
        <servlet-name>EditPasswordServlet</servlet-name>
        <servlet-class>edu.spcollege.titanbank.controllers.EditPasswordServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditPasswordServlet</servlet-name>
        <url-pattern>/editpasswordservlet</url-pattern>
    </servlet-mapping>
    <!-- Add User -->
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>edu.spcollege.titanbank.controllers.AddUserServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <!-- -->
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/WEB-INF/jsp/welcome.jsp</welcome-file>
        <!--welcome-file>redirect.jsp</welcome-file-->
    </welcome-file-list>
</web-app>
